<h1>About Us</h1>
<hr />
<div class="row text-left">
  <div class="col-md-6">
    <h2>Project goals</h2>
    Creation of web-based tool, enabling users to analyze selected data, in user-friendly way. The toll will be robust, to be able to handle diverse data sets. The aim is to collect and integrate the best practices for data processing and complement them, so that the resulting instrument will be able to present interesting findings, show deeper context, to connect the data with maps and other resources on the web.
  </div>
  <div class="col-md-6">
     <h2>Project introduction</h2>
   Datapoints is web based application allowing users to explore hidden information in their data. It is user friendly and easy to use approachable for beginners as well as for experienced users.<br/>
   Datapoints offers: <br/><br/>
	<ul>
		<li>Fast data upload in CSVV format via online form</li>
		<li>Automatic analysis of data sparing users time</li>
		<li>Visualization of locations and places from dataset on map</li>
		<li>Summary of numeric data with basic statistic functions</li>
		<li>Comfortable dataset viewing in customizable table</li>
		<li>Data visualization in various graphs for better understanding of data information</li>
	</ul>
  </div>
</div>
