<h1>AboutUs</h1>
<hr />
<div class="row text-left">
  <div class="col-md-6">
    <h2>Ciele projektu</h2>
    Realizácia webového nástroja umožňujúceho používateľovi prívetivým spôsobom analyzovať zvolené dáta. Nástroj bude robustný, aby vedel spracovať rôznorodé datasety. Cieľom je pozbierať a integrovať najlepšie riešenia na spracovanie dát a doplniť ich tak, aby výsledný nástroj dokázal prezentovať zaujímavé zistenia, zobrazovať súvislosti, prepojí dáta s mapami a inými zdrojmi na webe. text max. 50 slov.
  </div>
  <div class="col-md-6">
    <h2>Základné úlohy</h2>
    Načítanie dát v rôznych formátoch (CSV, XML, SQL) prezentovanie základných veličín (entity, tabuľky, príklady hodnôt) používateľom riadenú analýzu dát (priemer, medián, odchýlka, rozsahy hodnôt, spájanie na základe podobných textov, extrakcia informácií) prezentácia výsledkov vo forme grafov, tabuliek prepájanie dát s inými zdrojmi (webové API, ďalšie zdroje dát, encyklopédie)
  </div>
</div>