<h1>Zoznam používateľov</h1>
<br />

<table class="table" style="color:white">
  <th>Meno</th>
  <th>Email</th>
  <th>Action</th>
  <% @users.each do |u| %>
      <tr>
        <td>
          <%= u.name %>
        </td>
        <td>
          <%= u.email %>
        </td>
        <td>
          <%= link_to 'Destroy',
                      url_for(:controller => 'admin/dashboard', :action => 'destroy', :id => u.id),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
</table>
<div>
  <%= paginate @users %>
</div>