<%= link_to 'Back', root_path, style: 'left: 35px', class: 'btn btn-default' %><br>


<h1>Admin::Zoznam používateľov</h1>

<table class="table">
	<th>Meno</th>
	<th>Email</th>
	<% @users.each do |u| %>
		<tr>
			<td>
		    	<%= u.name %>
		    </td>
		    <td>
		    	<%= u.email %>
		    </td>
		</tr>
	<% end %>
</table>
<div>
	<%= paginate @users %> 
</div>
