<!-- CAROUSEL -->
<div id="carousel">
  <%= image_tag 'carousel/carousel-1.jpg',:title => 'intro carousel'  %>
</div>

<!-- HOW DOES IT WORK -->
<section id="how-does-it-work">
    <!-- TITLE -->
    <h1 class="title">How does it work?</h1>

    <!-- BOXES -->
    <div class="row boxes">
      <!-- UPLOAD -->
      <div class="col-md-4">
        <div class="left glyphicon glyphicon-cloud-upload"></div>
        <div class="right content">
          <h1 class="title">Upload your data</h1>
          <p class="text">
            You need only 4 clicks to upload your known/unknown data via our quick and easy form
          </p>
        </div>
      </div>

      <!-- PROCESS -->
      <div class="col-md-4">
        <div class="left glyphicon glyphicon-tasks"></div>
        <div class="right content">
          <h1 class="title">We’ll process them</h1>
          <p class="text">
            Everything runs in background, so you can get back to your every day business
          </p>
        </div>
      </div>

      <!-- CONTACT -->
      <div class="col-md-4">
        <div class="left glyphicon glyphicon-export"></div>
        <div class="right content">
          <h1 class="title">And contact you</h1>
          <p class="text">
            Right after everything has been done, we’ll send you an e-mail
          </p>
        </div>
      </div>
    </div>

</section>

<!-- WE'RE HERE TO HELP -->
<section id="were-here-to-help" class="bg-orange text-center">
  <div class="wrapper">

    <!-- TITLE -->
    <h1 class="title">We can do Magic</h1>
    <img src="https://31.media.tumblr.com/5654d0e0815ccc898e1dc05e19449f9a/tumblr_n4mvkqvWIC1tsvbbno3_500.gif" alt="Magic">
    <!-- TEXT -->
    <p class="text">
      If you’re new to the idea of being data-driven, or you would like to search through new statistical information, our tool will give you planty of option to do so. Join us and enjoy extensive reports and analyses.
      <br /><br />
    </p>

    <!-- BUTTON -->
    <%= link_to_unless_current 'Sign up to Magic World',     signup_path, :class => "btn white uppercase" %>

  </div>
</section>