/*body*/

html{
    height: 100%;
}

body{
    background: #222222;
    color: #ffffff;
    height: 100%;
}

/*main*/
main{
    padding: 0 40px 0 40px;
}

/*nodal*/
#myModalLabel{
    background: #fff;
    color: #f46430;
}

.modal-body{
    color: #000;
}

.modal-footer{
    text-align: center;
}

.modal-footer > .btn{
    display: none;
}

.modal-footer .jahoda .btn{
    margin: 0px;
}

/* flash */
.alert{
    position: relative;
    z-index: 99;
}

/* carousel */
#carousel{
    position: relative;
    z-index: 1;
}

/* navbar */
.navbar-default {
    background: #f46430;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 15px 40px 15px 40px;
    z-index: 2;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    margin: 10px 0 0 0;
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #f46430;
    background: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 900px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.navbar-toggle.collapsed{
    background: #ffffff;
    color: #f46430;
}

.navbar-toggle.collapse{
    background: lightgray;
    color: #f46430;


}

/* recaptcha */
#recaptcha_area{
    margin: 0 auto 50px auto;
}

/*tables*/
.table {
    color: #333333;
    font-size: 13px;
    border: 1px solid #ffffff;
}

.table th{
    background: #f46430 !important;
    color: #ffffff;
    text-align: center;
}

/*select*/
select {
    color: #333333;
}

/*stripped table*/
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #cccccc;
}
.table-striped > tbody > tr:hover td {
    background-color: #f46430 !important;
    color: #ffffff;
}

/*buttons*/
.btn-default {
    background-color: #f46430;
    color: #ffffff !important;
    border: 0;
}
.btn-default:hover {
    background-color: #cccccc;
    color: #333333 !important;
}
.btn-default:active {
    background-color: #cccccc;
    color: #333333 !important;
}
.btn.white{
    background: #fff;
    color: #f46430;
    border: 1px solid #ffffff;
}
.btn.white:hover{
    background: transparent;
    color: #ffffff;
}

/*links*/
a:link {
    color: #f46430;
}
/* visited link */
a:visited {
    color: #f46430;
}
/* mouse over link */
a:hover {
    color: #0CF;
}
/* selected link */
a:active {
    color: #0CF;
}

/*wrap*/
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -100px;
}

/* Set the fixed height of the footer here */
#push {
    height: 100px;
}

/*footer*/
footer{
    padding: 20px 40px 0 40px;
    width: 100%;
    height: 100px;
    background: #272727;
}

footer > .row > div{
    vertical-align: middle;
}

footer .fiit{
    float: right;
}

#were-here-to-help{
    padding: 120px 0 120px 0;
}

/*backgrounds*/
.bg-orange{
    background: #f46430;
}

/*boxes*/
.boxes{
    padding: 60px;
}

.boxes .glyphicon{
    font-size: 40px;
}

/*-----------JIRA OKNO---------*/
#jira-okno{
    display: none;
}

#jira-okno .body{

}


.login{
    padding-top: 20px;
}
.recaptcha-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

input, textarea{
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 350px;
    padding-left: 10px;
    font-family: 'Arial';
    background: #f3f3f3;
    font-size: 14px;
    font-style: italic;
    color: #8b8b8b;
    position: relative;
    border-radius: 3px;
}

label{
    display: inline-block;
    padding: 4px 10px 4px 10px;
    background: #f46430;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    text-align: left;
}

.remeber-me-wrapper input{
    width : 10px;
}

.page.current{
    color: coral;
    font-weight: bold;
}

#map{
    color:black;
}